---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Nav />
	<section class="relative z-0 h-[72vh]">
	  <div class="relative w-full h-full">
		<!-- Video para pantallas móviles (vertical) -->
		<video muted autoplay loop playsinline class="object-cover w-full h-full md:hidden">
		  <source src="/img/videos/videoHomePage.mp4" type="video/mp4">
		  Tu navegador no soporta el video.
		</video>
  
		<!-- Video para pantallas grandes (horizontal) -->
		<video muted autoplay loop playsinline class="hidden md:block object-cover w-full h-full">
		  <source src="/img/videos/videoHomePagePc.mp4" type="video/mp4">
		  Tu navegador no soporta el video.
		</video>
  
		<!-- Texto superpuesto -->
		<div class="absolute inset-0 flex justify-start">
		  <!-- Tener en cuenta estos márgenes para el resto de la página -->
		  <h1 class="font-bold text-white text-3xl mt-11 ml-8 sm:text-4xl lg:text-4xl xl:text-5xl xl:ml-52 xl:mt-20">
			<span class="block xl:hidden">
			  “No es lo mismo imaginar una experiencia que vivirla”
			</span>
			<span class="hidden xl:block">
			  “No es lo mismo imaginar una<br>experiencia que vivirla”
			</span>
		  </h1>
		</div>
	  </div>
	</section>
	<Footer />
</Layout>
  
