<div class="max-w-sm rounded-3xl overflow-hidden shadow-2xl bg-white p-4">
    <div class="flex items-center space-x-4">
      <img src="/img/images/imgComent.webp" alt="avatar" class="w-14 h-14 rounded-full object-cover" />
    </div>
    <p class="mt-4 text-gray-600">Definitivamente, viajar con Makedejo es más que una simple aventura; es una experiencia enriquecedora que me dejó con ganas de explorar aún más. ¡Sin duda, será mi primera opción para mis próximas vacaciones!"</p>
    <div class="mt-4 flex items-center">
      <div class="flex">
        
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M10 15l-5.878 3.09L5.527 12.31 1 8.24l6.175-.454L10 2l2.825 5.786L19 8.24l-4.527 4.07 1.405 5.78L10 15z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M10 15l-5.878 3.09L5.527 12.31 1 8.24l6.175-.454L10 2l2.825 5.786L19 8.24l-4.527 4.07 1.405 5.78L10 15z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M10 15l-5.878 3.09L5.527 12.31 1 8.24l6.175-.454L10 2l2.825 5.786L19 8.24l-4.527 4.07 1.405 5.78L10 15z"/>
          </svg>
      </div>
    </div>
    <div>
        <h3 class="font-semibold text-lg">Sebastián Sanchez Serna</h3>
      </div>
  </div>