<footer>
    <div class="container grid grid-cols-1 md:grid-cols-2">
        <div class="relative flex justify-center">
            <!-- Imagen de fondo -->
            <img src="/img/images/imgPoligon.webp" alt="footer makedejo" class="w-full h-full object-cover absolute inset-0 z-0">

            <!-- Imagen del logo encima y centrada -->
            <img src="/img/images/imgLogoGrande.webp" alt="footer makedejo" class="w-96 h-80 object-cover z-10">
        </div>
        <div class="flex flex-col justify-center">
            <div class="grid grid-cols-1 sm:grid-cols-3">
                <div class="flex flex-col items-center text-center">
                    <img src="/img/icons/paper-airplane.svg" alt="Viajeros saltando en la carretera">
                    <h2 class="text-xl font-bold text-gray-800">Conoce más</h2>
                    <ul class="mt-2 space-y-1 text-gray-600">
                        <li><a href="#" class="hover:bg-sky-950">Excursiones</a></li>
                        <li><a href="#" class="hover:bg-sky-950">Pasadías</a></li>
                        <li><a href="#" class="hover:bg-sky-950">Viajes</a></li>
                        <li><a href="#" class="hover:bg-sky-950">Redes sociales</a></li>
                    </ul>
                </div>

                <div class="flex flex-col items-center text-center">
                    <img src="/img/icons/phone.svg" alt="Viajeros saltando en la carretera">
                    <h2 class="text-xl font-bold text-gray-800">Llama ahora</h2>
                    <ul class="mt-2 space-y-1 text-gray-600">
                        <li><a href="#" class="hover:bg-sky-950">Nuestros asesores</a></li>
                        <li><a href="#" class="hover:bg-sky-950">Preguntas comunes</a></li>
                        <li><a href="#" class="hover:bg-sky-950">Más...</a></li>
                    </ul>
                </div>

                <div class="flex flex-col items-center text-center">
                    <img src="/img/icons/user.svg" alt="Viajeros saltando en la carretera">
                    <h2 class="text-xl font-bold text-gray-800">Contacto</h2>
                    <ul class="mt-2 space-y-1 text-gray-600">
                        <li><a href="#" class="hover:bg-sky-950">Reserva</a></li>
                        <li><a href="#" class="hover:bg-sky-950">Pide tu viaje ya!</a></li>
                        <li><a href="#" class="hover:bg-sky-950">Itinerarios</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="bg-gradient-to-r from-sky-950 to-cyan-600 text-white py-4">
    <div class="container mx-auto text-center">
        <p class="text-sm">&copy; Makedejo 2025, todos los derechos reservados</p>
    </div>
</footer>