<article class="bg-white rounded-2xl shadow-xl overflow-hidden max-w-80 m-4 max-h-full">
    <header class="flex flex-col w-full">
      <!-- Imagen del hotel, actividad, restaurante o paquete en la parte superior -->
      <img src="/img/images/imgCart.webp" class="max-w-80 h-48 object-cover rounded-t-2xl" />
    
      <!-- Contenido de la tarjeta debajo de la imagen -->
      <div class="p-4 text-center">
        <!-- Nombre del elemento -->
        <strong class="text-[#0A3A4E] text-xl font-semibold mb-2">Viaje Buenaventura (Colombia)</strong>
    
        <!-- Descripción -->
        <span class="text-base text-gray-600 mt-2 line-clamp-3">
          Buenaventura es un municipio vibrante ubicado en el departamento 
          del Valle del Cauca, en Colombia. Conocida como la "Puerta de Oro del Pacífico"
        </span>
        <div class="flex justify-center mt-2 mb-2 space-x-0.5 items-baseline">
            <strong class="text-[#0A3A4E] text-base font-semibold mb-2">Ranking :</strong>
            <!-- Estrellas en fila -->
            <img src="" alt="Ranking" class="w-4 h-4">
            <img src="" alt="Ranking" class="w-4 h-4">
            <img src="" alt="Ranking" class="w-4 h-4">
            <img src="" alt="Ranking" class="w-4 h-4">
            <img src="" alt="Ranking" class="w-4 h-4">
          </div>
          
        <strong class="text-[#0A3A4E] text-xl font-bold">COP 1.343.454</strong>
        <span class="text-base text-gray-600 line-clamp-3">Por persona</span>
    
        <!-- Botón de detalles más pequeño -->
        <div class="flex justify-center mt-4">
          <a href="#" target="_blank" rel="noopener noreferrer">
            <button class="bg-[#0A3A4E] text-white px-4 py-1 text-base rounded-full w-32 hover:bg-sky-950">
              Más detalles
            </button>
          </a>
        </div>
      </div>
    </header>
</article>