<section class="bg-[#0A3A4E] py-4 px-8 flex justify-between items-center relative z-10">
    <!-- Logo -->
    <div class="flex items-center w-auto h-auto">
        <img src="/img/icons/navLogo.png" alt="Logo" class="h-24 object-contain max-w-full 2xl:mx-44">
    </div>
    
    <!-- Menu pantallas pequeñas -->
    <div class="flex lg:hidden items-center">
        <button id="menu-toggle" class="text-white hover:text-gray-200">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </div>
    
    <!-- Links del menú -->
    <div class="hidden lg:flex space-x-14 2xl:mx-44">
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4995 24.9999L6.81006 6.50928C20.5916 10.5127 33.3909 16.8249 44.7614 24.9993C33.3909 33.1739 20.5917 39.4862 6.81025 43.4898L12.4995 24.9999ZM12.4995 24.9999L28.1251 24.9999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
            <span class="text-sm group-hover:text-white">Excursiones</span>
        </a>
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.125 43.7499V28.125C28.125 27.262 28.8246 26.5625 29.6875 26.5625H35.9375C36.8004 26.5625 37.5 27.262 37.5 28.125V43.7499M28.125 43.7499H4.9185M28.125 43.7499H37.5M37.5 43.7499H45.0815M42.1875 43.7499V19.4766M7.8125 43.7499V19.4771M7.8125 19.4771C10.2027 20.8586 13.312 20.5269 15.3569 18.4821C15.4499 18.3891 15.5393 18.2939 15.6252 18.1967C16.7704 19.4942 18.4459 20.3125 20.3125 20.3125C22.1792 20.3125 23.8548 19.4941 25 18.1966C26.1452 19.4941 27.8208 20.3125 29.6875 20.3125C31.554 20.3125 33.2294 19.4943 34.3746 18.197C34.4604 18.294 34.5497 18.389 34.6425 18.4819C36.6876 20.5269 39.7972 20.8585 42.1875 19.4766M7.8125 19.4771C7.34976 19.2096 6.91397 18.8779 6.51808 18.4821C4.07731 16.0413 4.07731 12.084 6.51808 9.64322L8.99576 7.16554C9.58182 6.57948 10.3767 6.25024 11.2055 6.25024H38.7941C39.6229 6.25024 40.4178 6.57949 41.0038 7.16554L43.4813 9.64304C45.9221 12.0838 45.9221 16.0411 43.4813 18.4819C43.0856 18.8776 42.65 19.2092 42.1875 19.4766M14.0625 37.4999H21.875C22.7379 37.4999 23.4375 36.8004 23.4375 35.9375V28.125C23.4375 27.262 22.7379 26.5625 21.875 26.5625H14.0625C13.1996 26.5625 12.5 27.262 12.5 28.125V35.9374C12.5 36.8004 13.1996 37.4999 14.0625 37.4999Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="text-sm group-hover:text-white">Pasadías</span>
        </a>
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.375 12.5V14.0625M34.375 20.3125V21.875M34.375 28.125V29.6875M34.375 35.9375V37.5M15.625 26.5625H26.5625M15.625 31.25H21.875M7.03125 10.9375C5.73683 10.9375 4.6875 11.9868 4.6875 13.2812V19.5861C6.55563 20.6668 7.8125 22.6866 7.8125 25C7.8125 27.3134 6.55563 29.3332 4.6875 30.4139V36.7188C4.6875 38.0132 5.73683 39.0625 7.03125 39.0625H42.9688C44.2632 39.0625 45.3125 38.0132 45.3125 36.7188V30.4139C43.4444 29.3332 42.1875 27.3134 42.1875 25C42.1875 22.6866 43.4444 20.6668 45.3125 19.5861V13.2812C45.3125 11.9868 44.2632 10.9375 42.9688 10.9375H7.03125Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="text-sm group-hover:text-white">Nacionales</span>
        </a>
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.7397 10.8134L13.4039 14.7987C13.8323 17.3685 15.0528 19.7403 16.895 21.5825L20.3125 25L19.5055 26.6141C19.0543 27.5164 19.2312 28.6062 19.9445 29.3195L22.751 32.126C23.1906 32.5656 23.4375 33.1617 23.4375 33.7833V36.0515C23.4375 36.9392 23.9391 37.7508 24.7331 38.1478L25.0516 38.307C25.9539 38.7582 27.0437 38.5813 27.757 37.868L29.2626 36.3624C31.5855 34.0395 33.2334 31.129 34.0301 27.9421C34.241 27.0986 33.9505 26.2088 33.2825 25.6521L30.5131 23.3443C29.989 22.9075 29.3004 22.7208 28.6274 22.8329L26.1897 23.2392C25.4431 23.3636 24.6824 23.1199 24.1471 22.5846L23.5323 21.9698C22.617 21.0545 22.617 19.5705 23.5323 18.6552L23.8055 18.382C24.5188 17.6687 25.6086 17.4918 26.5109 17.943L27.7691 18.5721C28.0032 18.6891 28.2612 18.75 28.5229 18.75C29.7758 18.75 30.5907 17.4314 30.0304 16.3108L29.6875 15.625L32.3035 13.881C33.661 12.976 34.7588 11.7324 35.4884 10.2732L35.7923 9.66546M12.7397 10.8134C8.76492 14.2515 6.25 19.3321 6.25 25C6.25 35.3553 14.6447 43.75 25 43.75C35.3553 43.75 43.75 35.3553 43.75 25C43.75 18.6625 40.6058 13.0594 35.7923 9.66546M12.7397 10.8134C16.0269 7.97004 20.3126 6.25 25 6.25C29.0179 6.25 32.7406 7.51376 35.7923 9.66546" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="text-sm group-hover:text-white">Internacionales</span>
        </a>
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.8125 12.5C32.8125 16.8147 29.3147 20.3125 25 20.3125C20.6852 20.3125 17.1875 16.8147 17.1875 12.5C17.1875 8.18528 20.6852 4.6875 25 4.6875C29.3147 4.6875 32.8125 8.18528 32.8125 12.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.37732 41.913C9.52379 33.4102 16.4622 26.5625 25 26.5625C33.5379 26.5625 40.4765 33.4105 40.6226 41.9136C35.8668 44.0959 30.5758 45.3125 25.0006 45.3125C19.4249 45.3125 14.1335 44.0956 9.37732 41.913Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="text-sm group-hover:text-white">Contáctanos</span>
        </a>
    </div>
    
    <!-- Menú desplegable en responsive-->
    <div id="menu" class="lg:hidden flex-col items-center space-y-4 hidden rounded-s-xl absolute top-28 right-0 w-7/12 bg-[#0a3a4ef4] shadow-xl">
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500 mt-4" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4995 24.9999L6.81006 6.50928C20.5916 10.5127 33.3909 16.8249 44.7614 24.9993C33.3909 33.1739 20.5917 39.4862 6.81025 43.4898L12.4995 24.9999ZM12.4995 24.9999L28.1251 24.9999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
            <span class="text-sm group-hover:text-white">Excursiones</span>
        </a>
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.125 43.7499V28.125C28.125 27.262 28.8246 26.5625 29.6875 26.5625H35.9375C36.8004 26.5625 37.5 27.262 37.5 28.125V43.7499M28.125 43.7499H4.9185M28.125 43.7499H37.5M37.5 43.7499H45.0815M42.1875 43.7499V19.4766M7.8125 43.7499V19.4771M7.8125 19.4771C10.2027 20.8586 13.312 20.5269 15.3569 18.4821C15.4499 18.3891 15.5393 18.2939 15.6252 18.1967C16.7704 19.4942 18.4459 20.3125 20.3125 20.3125C22.1792 20.3125 23.8548 19.4941 25 18.1966C26.1452 19.4941 27.8208 20.3125 29.6875 20.3125C31.554 20.3125 33.2294 19.4943 34.3746 18.197C34.4604 18.294 34.5497 18.389 34.6425 18.4819C36.6876 20.5269 39.7972 20.8585 42.1875 19.4766M7.8125 19.4771C7.34976 19.2096 6.91397 18.8779 6.51808 18.4821C4.07731 16.0413 4.07731 12.084 6.51808 9.64322L8.99576 7.16554C9.58182 6.57948 10.3767 6.25024 11.2055 6.25024H38.7941C39.6229 6.25024 40.4178 6.57949 41.0038 7.16554L43.4813 9.64304C45.9221 12.0838 45.9221 16.0411 43.4813 18.4819C43.0856 18.8776 42.65 19.2092 42.1875 19.4766M14.0625 37.4999H21.875C22.7379 37.4999 23.4375 36.8004 23.4375 35.9375V28.125C23.4375 27.262 22.7379 26.5625 21.875 26.5625H14.0625C13.1996 26.5625 12.5 27.262 12.5 28.125V35.9374C12.5 36.8004 13.1996 37.4999 14.0625 37.4999Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="text-sm group-hover:text-white">Pasadías</span>
        </a>
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.375 12.5V14.0625M34.375 20.3125V21.875M34.375 28.125V29.6875M34.375 35.9375V37.5M15.625 26.5625H26.5625M15.625 31.25H21.875M7.03125 10.9375C5.73683 10.9375 4.6875 11.9868 4.6875 13.2812V19.5861C6.55563 20.6668 7.8125 22.6866 7.8125 25C7.8125 27.3134 6.55563 29.3332 4.6875 30.4139V36.7188C4.6875 38.0132 5.73683 39.0625 7.03125 39.0625H42.9688C44.2632 39.0625 45.3125 38.0132 45.3125 36.7188V30.4139C43.4444 29.3332 42.1875 27.3134 42.1875 25C42.1875 22.6866 43.4444 20.6668 45.3125 19.5861V13.2812C45.3125 11.9868 44.2632 10.9375 42.9688 10.9375H7.03125Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="text-sm group-hover:text-white">Nacionales</span>
        </a>
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 mb-1 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.7397 10.8134L13.4039 14.7987C13.8323 17.3685 15.0528 19.7403 16.895 21.5825L20.3125 25L19.5055 26.6141C19.0543 27.5164 19.2312 28.6062 19.9445 29.3195L22.751 32.126C23.1906 32.5656 23.4375 33.1617 23.4375 33.7833V36.0515C23.4375 36.9392 23.9391 37.7508 24.7331 38.1478L25.0516 38.307C25.9539 38.7582 27.0437 38.5813 27.757 37.868L29.2626 36.3624C31.5855 34.0395 33.2334 31.129 34.0301 27.9421C34.241 27.0986 33.9505 26.2088 33.2825 25.6521L30.5131 23.3443C29.989 22.9075 29.3004 22.7208 28.6274 22.8329L26.1897 23.2392C25.4431 23.3636 24.6824 23.1199 24.1471 22.5846L23.5323 21.9698C22.617 21.0545 22.617 19.5705 23.5323 18.6552L23.8055 18.382C24.5188 17.6687 25.6086 17.4918 26.5109 17.943L27.7691 18.5721C28.0032 18.6891 28.2612 18.75 28.5229 18.75C29.7758 18.75 30.5907 17.4314 30.0304 16.3108L29.6875 15.625L32.3035 13.881C33.661 12.976 34.7588 11.7324 35.4884 10.2732L35.7923 9.66546M12.7397 10.8134C8.76492 14.2515 6.25 19.3321 6.25 25C6.25 35.3553 14.6447 43.75 25 43.75C35.3553 43.75 43.75 35.3553 43.75 25C43.75 18.6625 40.6058 13.0594 35.7923 9.66546M12.7397 10.8134C16.0269 7.97004 20.3126 6.25 25 6.25C29.0179 6.25 32.7406 7.51376 35.7923 9.66546" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="text-sm group-hover:text-white">Internacionales</span>
        </a>
        <a href="#" class="flex flex-col items-center text-white group">
            <svg class="w-14 h-14 stroke-white group-hover:fill-white group-hover:stroke-cyan-900 transition duration-500 mb-2" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.8125 12.5C32.8125 16.8147 29.3147 20.3125 25 20.3125C20.6852 20.3125 17.1875 16.8147 17.1875 12.5C17.1875 8.18528 20.6852 4.6875 25 4.6875C29.3147 4.6875 32.8125 8.18528 32.8125 12.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.37732 41.913C9.52379 33.4102 16.4622 26.5625 25 26.5625C33.5379 26.5625 40.4765 33.4105 40.6226 41.9136C35.8668 44.0959 30.5758 45.3125 25.0006 45.3125C19.4249 45.3125 14.1335 44.0956 9.37732 41.913Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="text-sm group-hover:text-white">Contáctanos</span>
        </a>
    </div>
</section>

<!-- Script -->
<script>
    const menuToggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('menu');

    menuToggle?.addEventListener('click', () => {
        menu?.classList.toggle('hidden'); // Mueve el menú a su posición original
    });
</script>
