<section class="py-16 px-8 text-center">
    <div class="mb-8">
        <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold text-[#0A3A4E]">
            Bienvenidos a Makedejo, vive tu experiencia
        </h1>
    </div>
    <div class="max-w-fit xl mx-auto text-lg text-gray-500 leading-relaxed">
        <p>
            MaKedejo es una agencia de viajes dedicada a ofrecer experiencias únicas e inolvidables para los
            amantes de la aventura y la cultura. Especializada en destinos sorprendentes, nuestra misión es llevarte
            a explorar los rincones más bellos y auténticos de Colombia, conectándote con la esencia de cada lugar.
            ¡Con MaKedejo, viajar se convierte en un arte!
        </p>
    </div>
</section>